@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
  --main-color: #2dc850;
  --remove-color: red;
  --main-font-color: white;
  --main-font: "Montserrat", sans-serif;
  --border-radius-button: 7px;
  --border-color: #d1d1d1;
  --button-success: #a4c735;
  --button-warning: orange;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--main-font);
}
