.products-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 1rem;
  padding: 1rem 2rem;
  box-sizing: border-box;
}
.views-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  user-select: none;
  width: 100%;
}
.list-view,
.grid-view {
  width: 32px;
  height: 32px;
}

.list-view:hover,
.grid-view:hover {
  cursor: pointer;
}

.items-counter {
  width: 100%;
  font-weight: 600;
}

.product-list-container-grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  gap: 10px;
}

.product-list-container-inline {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
